@import "variables.scss";
#font-n{
color:$color;
}
  #font-F{
    color:#4285F4;
  }
  #font-u{
    color:#DB4437
} 
#font-d{
    color:#4285F4;
}
#font-o{
    color:lightgreen;
}
#font-o{
    color:#DB4437
}